footer {
    background-color: #404040;
    color: white;
    text-align: center;
    padding: 1.4em;
    font-weight: bold;
}

@media screen and (min-width: 960px){
    footer{
        margin-bottom: 1.8em;
        font-size: 1.1em;
    } 
}