.novinky{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 0.5em;
}
.novinky__clanek{
    background-color: var(--sekundarni-barva);
    grid-column: 1 / -1;
    padding: 1.5em;
}
.novinky__clanek h5{
    color: var(--primarni-barva);
    padding: 0.8em 0;
}
.novinky__clanek span{
    color: gray;
}
.novinky__clanek p{
    font-weight: bold;
    padding: 0.5em 0;
}

@media screen and (min-width: 620px){
    .novinky{
        gap: 1em;
    }
}