/*mobilni styly*/
.seznam-sluzeb{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5em;
}
.sluzby__karta{
    grid-column: 1 / -1;
    background-color: var(--sekundarni-barva);
    display: flex;
    text-align: left;
    align-items: top;
    padding: 1em;
}
.sluzby__karta--ikona img{
    object-fit: cover;
    padding-right: 1em;
}
.sluzby__karta--popis h4{
    color: var(--primarni-barva);
    padding-bottom: 0.5em;
}

@media screen and (min-width: 620px) {
    .seznam-sluzeb{
        gap: 1em;
    }
    .sluzby__karta{
        text-align: center;
        display: block;
    }
    .sluzby__karta--ikona img{
        object-fit: cover;
        padding-right: 0;
        padding-bottom: 1em;
    }
    .sluzby__karta--popis h4,
    .sluzby__karta--popis p{
        padding-bottom: 1em;
    }
    .sluzby__karta:nth-child(odd){
        grid-column: 1/7;
    }
    .sluzby__karta:nth-child(even){
        grid-column: 7/13;
    }
}
