@import url(hlavicka.css);
@import url(zajezdy.css);
@import url(sluzby.css);
@import url(novinky.css);
@import url(footer.css);

/*intuitivní border-box*/
html {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}

/*custom property*/
:root {
    --primarni-barva: #F03000;
    --sekundarni-barva: #F0F0F0;
}

/*reset*/
ul{
    list-style-type: none;
}
p,ul,li{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/*základní styly*/
body{
    font-family: 'Montserrat', sans-serif;
    margin: 1.5em;
    text-align: left;
}
@media screen and (min-width: 960px){
    body{
        max-width: 1200px;
        margin: 0 auto;
    }
}
section{
    margin-bottom: 2em;
}
p, span{
    font-size: 0.8em;
}

